@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

/*--------------------------------------------General*/

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, Lato, sans-serif;
    color: #FEFEFE;
    background-color: #01203E;
}

.uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------Heading*/

header {
    position: fixed;
    top: 0;
    background-color: #01203E;
    min-height: 10rem;
    max-height: 18rem;
    width: 100%;
}

.logo-header {
    background: url("../images/electrician-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.navbar {
    background: url("../images/wires.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10rem;
    max-height: 18rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.navbar .navbar-brand h1 {
    color: #ED1B24;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
}

.navbar .navbar-brand i {
    color: #F35A35;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
}

.navbar .navbar-brand i:hover {
    color: #FEFEFE;
}

#navbarNav .nav-link {
    color: #FEFEFE;
    float: right;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    margin-left: 10rem;
    margin-bottom: 0;
    margin-top: 14rem;
    padding-bottom: 0;
}

.navbar-nav a:hover {
    color: #F35A35 !important;
}

.navbar-toggler-icon {
    background-color: #FEFEFE;
    min-height: 8rem;
    max-height: 10rem;
    min-width: 8rem;
    max-width: 10rem;
    margin-right: 1rem;
    margin-top: 1rem;
    position: fixed;
    top: 0;
    right: 0;
}

/*--------------------------------------------Content Home*/

.van {
    background: url("../images/electricians-van.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
    margin-top: 18rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.cert-one {
    height: 18rem;
    width: 18rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
    float: left;
    font-size: 4rem;
    color: #F35A35;
}

.cert-two {
    height: 18rem;
    width: 18rem;
    margin-top: 3rem;
    margin-right: 2rem;
    float: right;
    font-size: 4rem;
    color: #F35A35;
}

.cert-three {
    height: 18rem;
    width: 18rem;
    margin-top: 18rem;
    margin-left: 1.5rem;
    float: left;
    font-size: 4rem;
    color: #F35A35;
}

.cert-four {
    height: 18rem;
    width: 18rem;
    margin-top: 18rem;
    margin-right: 2rem;
    float: right;
    font-size: 4rem;
    color: #F35A35;
}

.cert-multi {
    background: url("../images/niceic-cert-multi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*--------------------------------------------Content About*/

.worker {
    background: url("../images/electrician-worker.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*--------------------------------------------Content Contact*/

.worker-two {
    background: url("../images/electrician-worker-two.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*--------------------------------------------Footer*/

footer {
    min-height: 5rem;
    max-height: 18rem;
}

.logo-footer {
    background: url("../images/electrician-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10rem;
    max-height: 18rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.info {
    font-family: Roboto, Lato, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-top: 1rem;
    color: #FEFEFE;
}

.info h1 {
    color: #F35A35;
}

.info i:hover {
    color: #F35A35;
}

.social-links li a i {
    width: 10rem;
    height: 10rem;
    padding: 5rem 0;
    font-size: 4rem;
    text-align: center;
    border-radius: 50%;
    line-height: 0;
    margin-top: 3rem;
    margin-left: 5rem;
    color: #1B4C86;
    background-color: #FEFEFE;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #F35A35;
    color: #FEFEFE;
}

/*--------------------------------------------Media Query*/

@media (min-width: 280px) and (max-width: 400px) {
    .logo-header {
        background-size: contain;
        background-position: left;
        min-height: 8rem;
        max-height: 10rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .navbar {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 8rem;
        max-height: 15rem;
        margin-top: 2rem;
    }

    .navbar .navbar-brand h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .navbar .navbar-brand i {
        font-size: 3rem;
    }

    .van {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 40rem;
        margin-top: 20rem;
    }

    .logo-footer {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 10rem;
    }

    .cert-multi {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 10rem;
        margin-bottom: 10rem;
        margin-top: 0;
        padding-top: 0;
    }

    .social-links li a i {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
        margin-left: 1.8rem;
        margin-right: 1.8rem;
    }
}

@media (min-width: 400px) and (max-width: 575px) {

    .logo-header {
        background-size: contain;
        background-position: left;
        min-height: 10rem;
        max-height: 12rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .navbar-toggler-icon {
        min-height: 10rem;
        max-height: 12rem;
        min-width: 10rem;
        max-width: 12rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }

    .navbar {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 12rem;
        max-height: 18rem;
        margin-top: 2rem;
    }

    .van {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 40rem;
        margin-top: 27rem;
    }

    .logo-footer {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 10rem;
    }

    .cert-multi {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 10rem;
        margin-bottom: 10rem;
        margin-top: 0;
        padding-top: 0;
    }

    .social-links li a i {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
        margin-left: 4rem;
    }
}

@media (min-width: 575px) and (max-width: 990px) {
    .logo-header {
        background-size: contain;
    }

    .navbar-toggler-icon {
        min-height: 10rem;
        max-height: 12rem;
        min-width: 10rem;
        max-width: 12rem;
        margin-right: 2rem;
        margin-top: 4rem;
    }

    .van {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 40rem;
        margin-top: 20rem;
    }

    .cert-one {
        height: 12rem;
        width: 12rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
        float: left;
        font-size: 2rem;
    }
    
    .cert-two {
        height: 12rem;
        width: 12rem;
        margin-top: 1rem;
        margin-right: 1.5rem;
        float: right;
        font-size: 2rem;
    }
    
    .cert-three {
        height: 12rem;
        width: 12rem;
        margin-top: 22rem;
        margin-left: 1.5rem;
        float: left;
        font-size: 2rem;
    }
    
    .cert-four {
        height: 12rem;
        width: 12rem;
        margin-top: 22rem;
        margin-right: 1.5rem;
        float: right;
        font-size: 2rem;
    }

    .logo-footer {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 10rem;
        max-height: 15rem;
        min-width: 18rem;
        max-width: 2rem;
    }

    .cert-multi {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 10rem;
        margin-bottom: 10rem;
        margin-top: 8rem;
        padding-top: 0;
    }

    .info {
        margin-left: 8rem;
    }

    .social-links li a i {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
}

@media (min-width: 990px) and (max-width: 1280px) {

    #navbarNav .nav-link {
        margin-left: 2.5rem;
    }

    .cert-multi {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 14rem;
        margin-bottom: 8rem;
        margin-top: 6rem;
        padding-top: 0;
    }

    .logo-footer {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 15rem;
        max-height: 15rem;
        min-width: 18rem;
        max-width: 2rem;
    }

    .info {
        margin-left: 20rem;
    }

    .social-links li a i {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
        margin-left: 6rem;
    }
}