@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

body {
    font-family: Roboto, Lato, sans-serif;
    color: #051975;
}

/*--------------------------------------------Heading*/

#logo {
    background: url("../images/electrician-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.navbar .navbar-brand {
    color: #F35A35;
    font-size: 1.9rem;
    text-transform: uppercase;
}

#navbarNav .nav-link {
    color: #051975;
    float: right;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-left: 5rem;
    margin-bottom: 0;
}