@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700&display=swap');

/*--------------------------------------------General*/

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, Lato, sans-serif;
    color: #FEFEFE;
    background-color: #01203E;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------Heading*/

.navbar {
    font-size: 3rem;
    position: fixed;
    max-width: 1140px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}

.navbar .navbar-brand h2 {
    color: #2c2c2c;
    font-size: 3rem;
}

.navbar-nav p {
    color: #2c2c2c;
    margin-left: 6rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-nav i {
    color: #2c2c2c;
    font-size: 3rem;
}

.navbar .navbar-brand h1:hover {
    color: #01203E;
}

.navbar .nav-item p:hover {
    color: #01203E;
}

.navbar-nav i:hover {
    color: #01203E;
}

/*--------------------------------------------Content Home*/

.van {
    background: url("../images/electricians-van.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 8rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.cert-one {
    height: 16rem;
    width: 16rem;
    margin-left: 2rem;
    float: left;
    color: #FEFEFE;
    font-size: 3rem;
}

.cert-two {
    height: 16rem;
    width: 16rem;
    margin-right: 2rem;
    float: right;
    color: #FEFEFE;
    font-size: 3rem;
}

.cert-three {
    height: 16rem;
    width: 16rem;
    margin-top: 16rem;
    margin-left: 2rem;
    float: left;
    color: #FEFEFE;
    font-size: 3rem;
}

.cert-four {
    height: 16rem;
    width: 16rem;
    margin-top: 16rem;
    margin-right: 2rem;
    float: right;
    color: #FEFEFE;
    font-size: 3rem;
}

.cert-multi {
    background: url("../images/niceic-cert-multi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20rem;
    width: 100%;
    margin-top: 3rem;
}

/*--------------------------------------------Content About*/

.worker {
    background: url("../images/electrician-worker.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    margin-top: 8rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.about-us {
    display: inline;
    float: left;
    height: auto;
    width: 35%;
    color: #000000;
    background-color: #FEFEFE;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    opacity: 0.7;
}

.about-us h2 {
    font-size: 2.5rem;
}

.testimonial {
    display: inline;
    float: right;
    height: auto;
    width: 30%;
    color: #000000;
    background-color: #FEFEFE;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    opacity: 0.7;
}

.testimonial h2 {
    font-size: 2.5rem;
}

/*--------------------------------------------Content Contact*/

.worker-two {
    background: url("../images/electrician-worker-two.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    margin-top: 8rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.contact-box {
    display: inline;
    float: left;
    height: auto;
    width: 50%;
    color: #000000;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    background-color: #FEFEFE;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    opacity: 0.7;
}

.contact-box h2 {
    font-size: 2.5rem;
}

.contact-box p {
    margin-top: 1rem;
    color: #000000;
}

.contact-box i:hover {
    color: #0077B5;
}

.contact-form {
    display: table;
    float: right;
    height: auto;
    width: 50%;
    color: #000000;
    font-size: 2.5rem;
    text-align: center;
    background-color: #FEFEFE;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    opacity: 0.7;
}

.contact-form h2 {
    font-size: 2.5rem;
}

.contact-form p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}

#message {
    margin-left: 6rem;
}

.btn-primary {
    font-size: 2rem;
    color: #FEFEFE;
    background-color: #000000;
}

/*--------------------------------------------Footer*/

.logo {
    background: url("../images/electrician-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 10rem;
    max-height: 18rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.info p {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-top: 1rem;
    color: #FEFEFE;
}

.info h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-top: 1rem;
    color: #808080;
}

.info i:hover {
    color: #808080;
}

.social-links {
    text-align: center;
    margin-top: 5rem;
}

.rounded-circle {
    display: inline;
    padding: 1rem 1rem 1rem;
}

.rounded-circle a:hover {
    color: #FEFEFE;
    background-color: #0077B5;
}

.fa-facebook {
    padding: 2rem;
    font-size: 3rem;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #0077B5;
    background-color: #FEFEFE;
}

.fa-twitter {
    padding: 2rem;
    font-size: 3rem;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #0077B5;
    background-color: #FEFEFE;
}

.fa-linkedin {
    padding: 2rem;
    font-size: 3rem;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #0077B5;
    background-color: #FEFEFE;
}

.disclaimer {
    height: auto;
    width: 100%;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    color: #000000;
    background-color: #FEFEFE;
}

/*--------------------------------------------Media Query*/

@media (min-width: 280px) and (max-width: 400px) {

    .navbar .navbar-brand h1 {
        font-size: 2rem;
    }

    .navbar-nav p {
        font-size: 1.8rem;
    }

    .navbar-nav i {
        font-size: 2.5rem;
    }

    .van {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 20rem;
        margin-top: 5rem;
    }

    .cert-multi {
        background: url("../images/niceic-cert-multi.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        height: 5rem;
    }

    .worker {
        background-position: top;
        background-size: contain;
        margin-top: 5rem;
    }

    .about-us {
        margin-top: 25rem;
        width: 95%;
    }

    .testimonial {
        width: 95%;
    }

    .worker-two {
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 5rem;
    }

    .contact-box {
        font-size: 2rem;
        margin-top: 22rem;
        width: 95%;
    }

    .contact-form {
        font-size: 1.8rem;
        width: 95%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .btn-primary {
        font-size: 1.5rem;
        margin: 1rem;
    }

    .logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: auto;
        margin-top: 2rem;
    }

    .fa-facebook {
        margin-bottom: 4rem;
        width: 7rem;
    }

    .fa-twitter {
        margin-bottom: 4rem;
        width: 7rem;
    }

    .fa-linkedin {
        margin-bottom: 4rem;
        width: 7rem;
    }

    .disclaimer {
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }


}

@media (min-width: 400px) and (max-width: 575px) {

    .van {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 25rem;
        margin-top: 7rem;
    }

    .cert-multi {
        background: url("../images/niceic-cert-multi.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        height: 7rem;
    }

    .worker {
        background-position: top;
        background-size: contain;
    }

    .about-us {
        margin-top: 30rem;
        width: 95%;
    }

    .testimonial {
        width: 95%;
    }

    .worker-two {
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 7rem;
    }

    .contact-box {
        font-size: 2rem;
        margin-top: 25rem;
        width: 95%;
    }

    .contact-form {
        width: 95%;
        margin: 2rem;
        padding: 0;
        border: 0;
    }

    .btn-primary {
        margin: 1rem;
    }

    .logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: auto;
        margin-top: 2rem;
    }

    .fa-facebook {
        margin-bottom: 4rem;
    }

    .fa-twitter {
        margin-bottom: 4rem;
    }

    .fa-linkedin {
        margin-bottom: 4rem;
    }

    .disclaimer {
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }

}

@media (min-width: 575px) and (max-width: 720px) {

    .van {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 25rem;
        margin-top: 5rem;
        padding: 0;
        border: 0;
        width: 100%;
    }

    .cert-one {
        height: 12rem;
        width: 12rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
        float: left;
        font-size: 2.5rem;
    }

    .cert-two {
        height: 12rem;
        width: 12rem;
        margin-top: 1rem;
        margin-right: 1.5rem;
        float: right;
        font-size: 2.5rem;
    }

    .cert-three {
        height: 12rem;
        width: 12rem;
        margin-top: 22rem;
        margin-left: 1.5rem;
        float: left;
        font-size: 2.5rem;
    }

    .cert-four {
        height: 12rem;
        width: 12rem;
        margin-top: 22rem;
        margin-right: 1.5rem;
        float: right;
        font-size: 2.5rem;
    }

    .worker {
        background-position: top;
        background-size: contain;
        margin-top: 1rem;
    }

    .about-us {
        margin-top: 45rem;
        width: 95%;
    }

    .testimonial {
        width: 95%;
    }

    .worker-two {
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 7rem;
    }

    .contact-box {
        margin-top: 35rem;
        width: 95%;
    }

    .contact-form {
        width: 95%;
        margin: 2rem;
        padding: 0;
        border: 0;
    }

    .btn-primary {
        margin: 1rem;
    }

    .logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: auto;
        margin-top: 2rem;
    }

    .fa-facebook {
        margin-bottom: 4rem;
    }

    .fa-twitter {
        margin-bottom: 4rem;
    }

    .fa-linkedin {
        margin-bottom: 4rem;
    }
}

@media (min-width: 720px) and (max-width: 990px) {

    .worker {
        background-position: top;
        background-size: contain;
        margin-top: 1rem;
    }

    .about-us {
        margin-top: 60rem;
        width: 95%;
    }

    .testimonial {
        width: 95%;
    }

    .contact-form {
        font-size: 2.2rem;
        width: 95%;
        margin: 2rem;
        padding: 0;
        border: 0;
    }

    .logo {
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        height: auto;
        margin-top: 2rem;
    }

    .info {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }

    .fa-facebook {
        width: 8rem;
    }

    .fa-twitter {
        width: 8rem;
    }

    .fa-linkedin {
        width: 8rem;
    }
}